*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d ;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3 );
}
.background, .foreground{
    position:absolute;
    height:100%;
    width:100%; 
    object-fit: cover;
    z-index: -1;
}
h1{
    position: absolute;
    top: 5rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3 );
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sec{
    font-size: 4rem;
    padding:0;
}
.para{
    font-size: 0.9rem;
    padding:5px;
    /* margin:5rem 0; */
} 
.content{
    padding: 5rem 0;
    background:rgb(34, 31, 31); 
    color:#fff;
    font-size: medium;
}
.bg{
    position:  relative;
    width:100vw;
    height: 400px;
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed;
}
.bg1{
    background-image: url('img1.jpeg') ;
}
.bg2{
    background-image: url('surf.avif ') ;
}
.bg3{
    background-image: url('img4.jpeg') ;
}
.des{
    position: absolute;
    background-color: #c6e0f8;
    padding:0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(11, 9, 9);
    font-size: 3.5rem;
    font-weight: 600;
}
